@import 'styles/colors.scss';
@import '../common/form/styles/input.scss';

.material-edit-panel {
	width: 37.5rem;
	height: 20rem;
	background-color: $dark-secondary;
	border-radius: 0.5rem;
	margin-left: 3rem;
}