@import 'styles/shapes.scss';

.material-edit-panel-body {
	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 2rem;

	.__col-1 {
		grid-column: 1;
		display: grid;
		row-gap: 2rem;

		div {
			input {
				width: 90%;
			}
		}
	}

	.__col-2 {
		grid-column: 2;
		display: grid;
		grid-auto-rows: 6rem;
		
		div {
			input {
				width: 80%;
			}
		}
	}
}