@import 'styles/colors.scss';

input[type=text], input[type=color], input[type=date], input[type=number] {
	display: block;
}

input[type=text], input[type=date], input[type=number] {
	color: white;
	background-color: $input-gray;
	border: none;
	padding: 0.75rem;
	border-radius: 0.5rem;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.25rem;
}